@import url(http://fonts.cdnfonts.com/css/pixelsplitter);

*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    font-family: 'PixelSplitter', sans-serif;
    cursor: url('images/wolfpaws.png'), auto;
}

